@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>SMART on FHIR Launch</h1>
<p><a href="@Model.LaunchUrl" style="border: 1px solid black; padding: 0.5rem 1rem">Launch EHR From Portal</a></p>
<hr />
<p>To simulate a launch from within the EHR:</p>
<ul>
    <li>Go to <a href="https://fhir.epic.com/Documentation?docId=launching"
            target="_blank">fhir.epic.com/Documentation?docId=launching</a>.</li>
    <li>Click "Try It" Button</li>
    <li>In "Choose an app to test with", choose "POC".</li>
    <li>The App Launch URL is @Url.Page("Launch", null, null, "https").</li>
    <li>Hit "Launch"</li>
</ul>
